.HCGTButton
{
	width: 215px;
	height: 215px;
	margin-left: 120px;
	border: 0;
}
.HCGTButton:nth-of-type(1)
{
	background: url('../images/HCGT_Buttons/Button01_Home_Black_04.png') no-repeat center;
}
.HCGTButton:nth-of-type(2)
{
	background: url('../images/HCGT_Buttons/Button02_Culture_Black_04.png') no-repeat center;
}
.HCGTButton:nth-of-type(3)
{
	background: url('../images/HCGT_Buttons/Button04_Growth_Black_04.png') no-repeat center;
}
.HCGTButton:nth-of-type(4)
{
	background: url('../images/HCGT_Buttons/Button03_Tech_Black_04.png') no-repeat center;
}