.fadeOut
{
	opacity: 0;
	transition: opacity 0.8s linear;
}
.fadeIn
{
	opacity: 1;
	transition: opacity 0.8s linear;
}
.categoryFadeOut
{
	opacity: 0;
	visibility: hidden;
	transition: opacity .8s linear;
	position: absolute;
	top: 0;
}
.categoryFadeIn
{
	opacity: 1;
	visibility: visible;
	transition: opacity .8s linear;
	position: absolute;
	top: 0;
}
.tableArea
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.tableLeft
{
	width: 50vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
.tableRight
{
	width: 50vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 3840px;
}
.logopontainer
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.buttonContainer
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.buttonContainer > div:nth-of-type(2)
{
	margin-right: 700px;
	margin-top: 100px;
}
.buttonContainer h1
{
	font-size: 100px;
	color: #a9a9a9;
}
.bLevelContentArea
{
	position: absolute;
	top: 450px;
	left: 200px;
	height: 1350px;
	width: 3450px;
}
.backgroundTextTop,
.backgroundTextBottom
{
	color: #a9a9a9;
	opacity: 0.6;
	font-weight: bolder;
	font-size: 300px;
	font-family: 'Encode Sans', sans-serif !important;
}
.backgroundTextTop
{
	position: absolute;
	top: 25px;
	left: 200px;
}
.backgroundTextBottom
{
	position: absolute;
	bottom: 25px;
	right: 200px;
}
.hcgtButtonsContainer
{
	position: absolute;
	bottom: 50px;
	left: 200px;
	height: 250px;
	width: 1100px;
	background-color: rgba(237, 27, 46, 0.4);
	border: solid #ED1B2E 20px;
}