.tableArea
{
	width: 100vw;
	height: 100vh;
	background: url('../../images/History_Room_Table_design_v01.jpg');
}
.tableLeft
{
	width: 50vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
.tableRight
{
	width: 50vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 3840px;
}
.logopontainer
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.buttonContainer
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.buttonContainer h1
{
	font-size: 100px;
	color: #a9a9a9;
}
.bLevelContentArea
{
	position: absolute;
	top: 450px;
	left: 200px;
	height: 1350px;
	width: 3450px;
	border: solid #ED1B2E 20px;
}
.videoPlaylistContainer
{
	position: absolute;
	left: 200px;
	top: 450px;
	height: 1660px;
	width: 800px;
	border: solid #ED1B2E 20px;

}
.largeVideoThumbnailContainer
{
	position: absolute;
	right: 200px;
	top: 450px;
	width: 2500px;
	height: 1350px;
	border: solid #ED1B2E 20px;
}
.videoTitleArea
{
	position: absolute;
	bottom: 50px;
	left: 1142px;
	height: 250px;
	width: 2500px;
	border: solid #ED1B2E 20px;
}
.hcgtButtonsContainer
{
	position: absolute;
	bottom: 50px;
	left: 200px;
	height: 250px;
	width: 1100px;
	background-color: rgba(237, 27, 46, 0.4);
	border: solid #ED1B2E 20px;
}